<div class="main-container">
    <header class="header header-4">
        <div class="branding">
            <a href="" class="nav-link">
                <clr-icon shape="analytics" class="is-inverse"></clr-icon>
                <span class="title">Remote Config Dashboard</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="row col-xs-12">
                <h3 class="app-title ">
                    {{ (selectedApp$ | async)?.name }}
                </h3>
                <clr-dropdown class="">
                    <button class="btn btn-link" clrDropdownToggle>
                        Change app
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <div class="dropdown-menu">
                        <a *ngFor="let app of (apps$ | async)" href="..." clrDropdownItem>{{ app.name }}</a>
                    </div>
                </clr-dropdown>
            </div>

            <clr-tabs class="tabs row flex-items-xs-center">
                <clr-tab-link>Feature Toggles</clr-tab-link>
                <clr-tab-link>Config Properties</clr-tab-link>
                <clr-tab-content class="col-xs-12 col-md-10 col-lg-8 col-xl-6 panel">
                    <app-feature-toggles></app-feature-toggles>
                </clr-tab-content>
                <clr-tab-content class="col-xs-12 col-md-10 col-lg-8 col-xl-6 panel">
                    <app-config-properties></app-config-properties>
                </clr-tab-content>
            </clr-tabs>
        </div>
    </div>