<div class="main-container">
    <header class="header header-4">
        <div class="branding">
            <a href="" class="nav-link">
                <clr-icon shape="analytics" class="is-inverse"></clr-icon>
                <span class="title">Remote Config Dashboard</span>
            </a>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <div class="content-area">
                <div class="row flex-items-xs-center">
                    <div class="col-xs-12 col-md-10 col-lg-6 ">
                        <div class="row flex-items-xs-between flex-items-xs-middle">
                            <h3 class="app-title">
                                Costa Android
                            </h3>
                            <clr-dropdown>
                                <button class="btn btn-outline-primary" clrDropdownToggle>
                            Change app
                            <clr-icon shape="caret down"></clr-icon>
                        </button>
                                <div class="dropdown-menu">

                                    <a href="..." clrDropdownItem>Link 1</a>
                                    <a href="..." clrDropdownItem>Link 2</a>
                                </div>
                            </clr-dropdown>
                        </div>
                        <div class="row flex-items-xs-center">
                            <table class="toggles-table table">
                                <thead>
                                    <tr>
                                        <th>Feature</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let toggle of featureToggles$ | async">
                                        <td>{{toggle.name}}</td>
                                        <td>
                                            <div class="toggle-switch">
                                                <input type="checkbox" id="{{toggle.id}}" [attr.checked]="toggle.state ? true : null" (change)="updateFeatureToggle(toggle._id, $event.target.checked)">
                                                <label for="{{toggle.id}}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>