<button class="btn btn-outline-primary btn-sm" (click)="openAddToggleModal()">Add Toggle</button>
<table class="toggles-table table">
    <thead>
        <tr>
            <th>Feature</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let toggle of featureToggles$ | async">
            <td>{{toggle.name}}</td>
            <td>
                <div class="toggle-switch">
                    <input type="checkbox" id="{{toggle.name}}" [attr.checked]="toggle.state ? true : null" (change)="updateFeatureToggle(toggle.name, $event.target.checked)">
                    <label for="{{toggle.name}}"></label>
                </div>
            </td>
            <td>
                <clr-icon class="remove-toggle" shape="trash" size="16" (click)="removeFeatureToggle(toggle.name)"></clr-icon>
            </td>
        </tr>
    </tbody>
</table>


<clr-modal [(clrModalOpen)]="isAddToggleModalOpen">
    <h5 class="modal-title">Create a new feature toggle</h5>
    <div class="modal-body">
        <div class="alert alert-danger" *ngIf="toggleExistsWarning">
            <div class="alert-item">
                <span class="alert-text">
                A toggle with this name already exists.
            </span>
            </div>
        </div>
        <form class="form" [formGroup]="featureToggleForm" [hidden]="submitted">
            <section class="form-block">
                <div class="form-group">
                    <label for="toggleName">Feature Name</label>
                    <label for="toggleName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-right" [class.invalid]="featureToggleForm.get('toggleName').invalid
                    && (featureToggleForm.get('toggleName').dirty || featureToggleForm.get('toggleName').touched)">
                        <input id="toggleName" type="text"
                            formControlName="toggleName">
                        <span class="tooltip-content">
                            Name is required.
                        </span>
                    </label>
                </div>
                <div formGroupName="toggleState">
                    <div class="form-group">
                        <label for="toggleState">Initial State</label>
                        <div for="toggleState" class="toggle-switch">
                            <input id="state" type="checkbox" formControlName="state">
                            <label for="state"></label>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isAddToggleModalOpen = false">Cancel</button>
        <button class="btn btn-primary" (click)="addToggleClicked()" type="submit" [disabled]="featureToggleForm.invalid">Create</button>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="isConfirmationModalOpen">
    <div class="modal-body">
        <p>{{this.confirmationMessage}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isConfirmationModalOpen = false">No</button>
        <button type="button" class="btn btn-primary" (click)="confirmToggleRemoval()">Yes</button>
    </div>
</clr-modal>