.toggles-table {
    padding: 0;
    margin: 0;
    td {
        vertical-align: middle;
    }
    .toggle-switch {
        margin: 0;
    }
}

.remove-toggle {
    cursor: pointer;
    &:hover {
        color: black;
    }
}