<clr-modal [(clrModalOpen)]="isAddToggleModalOpen" [clrModalClosable]="false">
    <h5 class="modal-title">Create a new feature toggle</h5>
    <div class="modal-body">
        <div class="toggle-exists-alert alert alert-danger" *ngIf="showToggleExistsWarning">
            <div class="alert-item">
                <span class="alert-text">
                A toggle with this name already exists.
            </span>
            </div>
        </div>
        <form class="form" [formGroup]="featureToggleForm" [hidden]="submitted">
            <section class="form-block">
                <div class="form-group">
                    <label for="toggleName">Feature Name</label>
                    <label for="toggleName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm tooltip-right" [class.invalid]="featureToggleForm.get('toggleName').invalid
                    && (featureToggleForm.get('toggleName').dirty || featureToggleForm.get('toggleName').touched)">
                        <input autofocus id="toggleName" type="text"
                            formControlName="toggleName">
                        <span class="tooltip-content">
                            Name is required.
                        </span>
                    </label>
                </div>
                <div formGroupName="toggleState">
                    <div class="form-group">
                        <label for="toggleState">Initial State</label>
                        <div for="toggleState" class="toggle-switch">
                            <input id="state" type="checkbox" formControlName="state">
                            <label for="state"></label>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="isAddToggleModalOpen = false">Cancel</button>
        <button class="btn btn-primary" (click)="addToggleClicked()" type="submit" [disabled]="featureToggleForm.invalid">Create</button>
    </div>
</clr-modal>